/* many custom colors are not yet used */
html {
  /* THEME */
  --black: #222222;
  --white: #f7edf0;
  --player-color: #f7edf0; /* gets reset in Layout styled component*/
  --sub-white: #b4b4b4;
  --gunmetal: #22333b;
  --gunmetal-transparent: hsla(199, 27%, 18%, 1);
  --gray: #5d576b;
  /* PLAYER COLORS */
  /* --bee-yellow: #e0bb00; */
  /* --butterfly-purple: #fc65b8; */
  /* TERRAIN */
  --grass: #60840d;
  --forest-green: #37480d;
  --wood-brown: #573319;
  --water: #3794fd;
  --sand: #ab8e10;
  --rock: #475776;
  --glyph: #601700;
  /* UTILITY */
  --neon-green: rgba(186, 217, 84, 0.502);
  --neon-blue: rgba(135, 199, 242, 0.5);
  --neon-yellow: hsla(47, 81%, 56%, 0.5);
  --neon-orange: rgba(224, 150, 40, 0.5);
  --neon-red: rgba(226, 83, 40, 0.5);
  /* #62A87C shiny shamrock green, #03CEA4 is Carribean,  Carribean preferred MAYBE as success color? https://coolors.co/0c151c-ffffff-fe938c-62a87c-3590f3 */
  --success-green: #62a87c;
  /* #FF5E5B orange-red-crayola as error color, #246EB9 is spanish-blue, #EAC435 is Saffron https://coolors.co/0c151c-ffffff-ff5e5b-62a87c-246eb9 */
  --selected-green: #0b5d1e;
  --caution-yellow: #eac435;
  --error-red: #ff5e5b;
  --info-blue: #246eb9;
  /* card colors */
  --life-red: #ff3633;
}
#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  /* mobile viewport bug fix */
  /* min-height: -webkit-fill-available; */
  /* max-width: -webkit-fill-available; */
  background-color: var(--black);
  color: var(--white);
  /* font-weight: 600; */
  /* font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif; */
}

/* style multiplayer lobby / nav */

/* nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

/* nav ul li a {
  padding: 14px 16px;
  text-decoration: none;
}
a.active {
  text-decoration: underline;
} */

/* This gets the debug panel looking normal again, the water.css styles were messing with the button sizes, some colors */
/* 40px overrides the 20px that the panel currently has */

/* .debug-panel strong {
  color: black !important;
}
.debug-panel button {
  color: black !important;
}
.debug-panel button.current {
  color: white !important;
}
.debug-panel nav {
  height: 40px !important;
}
.debug-panel button {
  height: 40px !important;
} */
